<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Map Demo</title>
    <style>
      #map {
        height: 480px;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <h3>My Google Maps Demo Dev</h3>
    <div id="map"></div>
    <button>hehe</button>
    <link rel="stylesheet" type="text/css" href="css/mymap.css">
    <script type="text/javascript" src="/js/mymap.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeQUEk-gnlTWI36ho7lI9oBzbM-W3-_d0&callback=initMap"></script>
  </body>
</html>

